*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #363c47;
}

section{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    
}

.element{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 50px;
    background-color: #3fc0c0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 1.2rem;
}